<%- include('partial/head') %>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('partial/slider') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('partial/navbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard|About</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    	<a href="/admin/add_about" class="btn btn-primary">Add-About</a>
                    	<hr>
    <table class="table table-bordered mt-2">
    <thead>
    <tr>
    <th>Id</th>
    <th>About Content</th>
    <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <% let count=0 %>
    <% for(let data of displayData) { %>
      <tr>
        <td><%= ++count %></td>
        <td><%= data.aboutitle %></td>
        <td><a  href="/admin/edit/<%= data._id%>" class="btn btn-success">Update </a></td>
        <td><a href="/admin/delete/<%= data._id%>" class="btn btn-danger">Delete</a></td>
      </tr>
    <% } %>
    </tbody>
  </table>

                        
                        
                    </div>

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('partial/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partial/lmodel') %>

    <!-- Bootstrap core JavaScript-->
    <%- include('partial/script') %>

</body>

</html>